@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color: #f0f0f5;
    --border-color: rgba(0,0,0,.1);
    --blue-color: #007fff;
    --white-color: #fff;
    --gray-color: #a0a0a0;
    --black-75-color: #555;
    --green-color: #00A650;
    --yellow-color: #FFF159;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}